.djangocms-admin-style {

    &.change-list #changelist {

        table.sortable-tree {
            th,
            td {
                vertical-align: middle !important;
            }

            input {
                vertical-align: middle;
            }
        }

        &.filtered {
            .treebeard-admin-tree-list-tools {
                box-sizing: border-box;
                height: 68px;
            }

            .results {
                z-index: 2;
                margin-right: 280px !important;
            }

            .paginator {
                z-index: 1;
                position: relative !important;
                width: auto !important;
                clip: auto !important;
                margin-right: 280px !important;

            }
        }
    }

    .treebeard-admin-tree-list-tools {
        z-index: 2;
        position: relative;
        overflow: visible;
        padding: 10px;
        border-bottom: 1px solid #ddd;
        background-color: #fff;
        box-shadow: 0 0 5px 0 rgba(0,0,0,.2) !important;
    }

    .treebeard-admin-tree-list-tools::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: -5px;
        display: block;
        height: 4px;
        width: 100%;
        background-color: #fff;
    }

    .treebeard-admin-tree-list-path-entry {
        padding: 10px;
        font-size: 0;
        line-height: 0;
        border: 1px solid #0bf;
        border-radius: 3px;
        background-color: #fff;
    }
    .treebeard-admin-tree-list-path-entry.now {
        border: 1px solid #d0d0d0;
    }

    .treebeard-admin-tree-list-path-label span,
    .treebeard-admin-tree-list-path-entry span {
        display: block;
        font-size: 14px;
        line-height: 14px;
    }

    .treebeard-admin-tree-list-path-label span {
        margin-right: 10px;
    }

    .treebeard-admin-tree-list-path-entry:after {
        display: none;
    }

    .treebeard-admin-tree-list-path-entry.root span {
        display: none;
    }

    .treebeard-admin-tree-list-path-entry.root:after {
        display: block;
        font-size: 14px;
        line-height: 14px;
    }

    .treebeard-admin-ghost {
        background-color: #d1edfc !important;
    }

    .treebeard-admin-drag {
        left: 8px;
        top: 9px;
        right: 8px;
        bottom: 9px;
    }

    .treebeard-admin-path-button {
        padding: 7px;
        font-size: 0;
        line-height: 0;
        border: 1px solid #999;
        border-radius: 3px;
        background-color: #fff;
    }

    .treebeard-admin-path-button span {
        display: block;
        width: 20px;
        height: 20px;
        font-size: 14px;
        line-height: 14px;
    }
}