.sortable-tree th,
.sortable-tree td {
    vertical-align: middle;
}

.sortable-tree td span,
.sortable-tree th span {
    display: block;
}

.sortable-tree td svg,
.sortable-tree th svg {
    display: block;
}

#changelist table.sortable-tree input {
    vertical-align: middle;
}

.treebeard-admin-tree-list-tools {
    overflow: auto;
}

.treebeard-admin-tree-list-tools:after {
    content: '';
    display: block;
    clear: both;
}

.treebeard-admin-tree-list-path {
    float: left;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 14px;
}

.treebeard-admin-tree-list-path-label {
    font-weight: bold;
    text-transform: uppercase;
}

.treebeard-admin-tree-list-path-label,
.treebeard-admin-tree-list-path-entry {
    display: inline-block;
    box-sizing: border-box;
    vertical-align: middle;
    padding: 5px 0;
    line-height: 14px;
}

.treebeard-admin-tree-list-path-label span,
.treebeard-admin-tree-list-path-entry span {
    display: inline-block;
    box-sizing: border-box;
    vertical-align: middle;
    font-size: 12px;
    line-height: 14px;
}

.treebeard-admin-tree-list-path-entry.root {
    padding: 5px;
}

.treebeard-admin-tree-list-path-entry.root span {
    display: none;
}

.treebeard-admin-tree-list-path-entry:after {
    content: '/';
    display: inline-block;
    vertical-align: middle;
    padding: 0 5px;
    font-weight: bold;
}

.treebeard-admin-tree-list-buttons {
    float: right;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 12px;
}

.treebeard-admin-path-button {
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
}

.treebeard-admin-path-button.inactive {
    opacity: 0.25;
    cursor: default;
}

.field-col_select_node {
    cursor: pointer;
}

.column-col_position_node,
.field-col_position_node {
    position: relative;
    width: 10px;
    text-align: center;
}

.treebeard-admin-ghost {
    background-color: #79aec8;
}


.treebeard-admin-drag {
    position: absolute;
    left: 8px;
    top: 8px;
    right: 8px;
    bottom: 8px;
    display: inline-block;
    box-sizing: border-box;
    width: auto;
    height: auto;
    background-image: url(../imgs/drag.svg);
    background-repeat: repeat;
    background-size: 5px 5px;
    cursor: move;
}

.column-col_node_children_count,
.field-col_node_children_count {
    width: 120px;
    text-align: right !important;
}

.column-col_delete_node,
.field-col_delete_node,
.column-col_edit_node,
.field-col_edit_node,
.column-col_move_node,
.field-col_move_node {
    width: 60px;
    text-align: center !important;
}

.field-col_delete_node a,
.field-col_edit_node a,
.field-col_move_node a {
    display: inline-block;
}